@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Roboto Semibold';
    src: url('/static/RobotoSlab-SemiBold.ttf') format('truetype');
 
}
@font-face {
    font-family: 'Roboto Light';
    src: url('/static/RobotoSlab-Light.ttf') format('truetype');
 
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('/static/RobotoSlab-Medium.ttf') format('truetype');
 
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('/static/RobotoSlab-Regular.ttf') format('truetype');
 
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('/static/RobotoSlab-Bold.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto EBold';
    src: url('/static/RobotoSlab-ExtraBold.ttf') format('truetype');
  
}
.pagprodutos-container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #0E0F11, #22242B, #25272F, #25272F, #2A2D36, #31343E, #2B2D36, #737991);
    color: white;
    padding: 4rem 0;
    display: flex;
}
.pagprodutos-container h3{
    font-family: 'Roboto Semibold';
}
.pagprodutos-container p{
    font-family: 'Roboto Light';
}
.prodfotos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.foto1{
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}
.foto1 img{
    width: 570px;
    height: 50%;
}
.fotolados{
    display: flex;
    gap: 1rem;
}
.fotolados img{
    width: 275px;
    height: 100%;
}
.conteudo-pagproduto{
    width: 100%;
    height: 100%;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.peca-preco{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}
.avaliacao-pagproduto{
    display: flex;
    gap: 15px;
}
.tamanho-pagproduto h3{
    font-size: 25px;
}
.lista-tam{
    display: flex;
    gap: 10px;
}
.lista-tam button{
    border: 1px solid #fff;
    color: #fff;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 5px;
}
.quantidade h3{
    font-size: 25px;
}
.botoesqtd{
    display: flex;   
}
.botoesqtd button{
    border: 1px solid #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
}
.botoesqtd p{
    border: 1px solid #fff;
    padding: 0.5rem; border: 1px solid #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
}
.comprar-prod{
    display: flex;
    font-family: 'Roboto Semibold';
    gap: 5px;
}
.adquirir{
    background-color: #48217B;
    color: #fff;
    padding: 0.75rem 18rem;
    border-radius: 5px;
    font-size: 20px;
}

.fav{
    border: 1px solid #fff;
    padding: 0.75rem;
    border-radius: 5px;
}

.descricaoprod h3{
    font-size: 25px;
}
.contatovend h3{
    font-size: 25px;
}
.entregas-devol{
    display: flex;
    gap:5px;
}
.entregas{
    border: 1px solid #fff;
}
.dev{
    border: 1px solid #fff;
}
.navbar-branca {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: center;
    padding: 16px 48px;
    font-family: 'Roboto Medium';
}
.navbar-preta {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: center;
    padding: 16px 48px;
    font-family: 'Roboto Medium';
    background-color: #121212;
    color: #fff;
}
.navbar-nav {
    display: flex;
    gap: 24px;
    justify-self: start;
    flex-wrap: wrap;
}
.navlogo{
    width: 200px;
}
.navbar > a {
    justify-self: center;
}

.icons-navb {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: end;
}

.icons-navb img {
    width: 30px;
    height: 30px;
}
.footer{
     width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: top;
    background-color: #121212;
    color: white;
    padding: 5rem 4rem 1rem 5rem;
    font-family: 'Roboto Regular';
}
.footer-links{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
.footer-social-icons{
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    padding: 0 2rem;
    width: 300px;
    justify-self: end;
}

