@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto Semibold';
    src: url('/static/RobotoSlab-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Light';
    src: url('/static/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('/static/RobotoSlab-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('/static/RobotoSlab-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('/static/RobotoSlab-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto EBold';
    src: url('/static/RobotoSlab-ExtraBold.ttf') format('truetype');
}
.font-roboto-semibold{
    font-family: 'Roboto Semibold';
}
.font-roboto-medium{
    font-family: 'Roboto Medium';
}
.font-roboto-regular{
    font-family: 'Roboto Regular';
}
.font-roboto-bold{
    font-family: 'Roboto Bold';
}
.font-roboto-ebold{
    font-family: 'Roboto EBold';
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: #0E0F11;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-container {
    width: 80%;
    min-height: 80%;
}
.meu-perfil{
    width: 100%;
    display: flex;
    font-family: 'Roboto Semibold';
    align-items: center;
    font-size: 35px;
    gap: 5px;
}
.dados-perfil{
    border: 1px solid #737991;
    border-radius: 7px;
}
.topo-dadosp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #737991;
    padding: 1rem 2rem;

}
.topo-dadosp h3{
    font-family: 'Roboto Medium';
    font-size: 20px;
}
.bts-edit-dashboard a{
    border: 1px solid #48217B;
    color: #48217B;
    font-family: 'Roboto Regular';
    padding: 5px;
}
.dados-user{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 30px;
}
.dados-user strong, .dados-user p{
    padding: 1rem;
}